*{
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
img{
    width: 100%;
    border-radius:5px;
}
#slider{
    max-width: 600px;
    width: 50vw;
    background-size: cover;
    border:1px solid transparent;
}

span{
    font-size: 2rem;
    cursor: pointer;
    position: relative;
    padding:0 20px;
    transition: 0.3s;
}

span:hover{
    color:rgb(127, 122, 131);
}

#prevBtn{
    right:0;
}


#prevBtn:hover{
    right:0.5rem;
}

#nextBtn{
    left:0;
}
#nextBtn:hover{
    left:0.5rem;
}
